@import "../layout/components/login-header/login-header.component.scss";
@import "../layout/components/login-footer/login-footer.component.scss";

$topnav-background-color: #fff;
:host {
    display: block;   
}

.login-page {
    height: 100vh;

    h2{ font-size: 1.6em; font-weight: 600; }
    h3{ font-size: 1.4em; font-weight: 400; }
}
